<header>
    <nav>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                   <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-2">
                                <a routerLink="/products">
                                    <i class="fas fa-shopping-bag"></i>
                                </a>
                            </div>
                            <div class="col-md-10">
                                <h1>Fruit Cart</h1>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-8">
                        <form>
                            <input type="search" name="" class="form-control" id="" placeholder="search item">

                        </form>
                    </div>
                   </div>
                </div>
                <div class="col-md-4 text-right">
                    <a routerLink="/cart">
                            <i class="fas fa-cart-plus"></i>
                            <span class="badge badge-light">{{totalProducts}}</span>
                            <a class="btn ml-4" (click)="onLogout()">Logout</a>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>